<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/pages/admin.xhtml" access="ROLE_ADMIN"/>
        <form-login login-page="/pages/login.xhtml"
                    default-target-url="/pages/admin.xhtml"
                    authentication-failure-url="/pages/loginfailed.xhtml" />
        <logout logout-success-url="/pages/login.xhtml" />
    </http>


    <!--add  <password-encoder hash="md5"/>-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService"/>
    </authentication-manager>


</beans:beans>